<div>
  <h2>Add New Station</h2>
  <form (ngSubmit)="addStation()">
    
    <label for="location">Location:</label>
    <input [(ngModel)]="newStation.location" name="location" required />

    <label for="capacity">Capacity:</label>
    <input [(ngModel)]="newStation.capacity" name="capacity" type="number" required />

    <label for="address">Address:</label>
    <input [(ngModel)]="newStation.address" name="address" required />

    <hr>
    <div class="button-row">
      <button type="submit" class="save-button">Save Station</button>
      <button type="button" class="back-button" (click)="goToStationList()">Back</button>
    </div>
  </form>
</div>
